.pagination {
    padding: 10px 10px 10px 10px;
    background-color: #343a40;
    color: white;
    border-radius: 0%;
}
.padding-page-information{
    padding-left: 5px;
    padding-right: 5px;
}
.table-no-scroll-horizontal{
    overflow-x: hidden;
}
.table-no-bottom-margin{
    margin-bottom: 0;
}